@font-face {
  font-family: "digital number";
  font-style: normal;
  font-weight: normal;
  src: local("Digital Numbers Regular"),
    url("DigitalNumbers-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pad-container {
  box-sizing: content-box;
  padding: 20px;
  width: 330px;
  height: 500px;
  background-color: #393a3f;
  border: 2px solid black;
  border-radius: 20px;

  display: grid;
  grid-template-areas:
    "display display"
    "misc opr"
    "num opr";
  grid-template-rows: 2fr 1fr 4fr;
  grid-template-columns: 3fr 1fr;
}

/* display block */
.display-container {
  grid-area: display;
  text-align: right;
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid black;
}

.last-operation {
  font-family: "digital number";
  background-color: #e6f1f3;
  font-size: 32px;
}

.display {
  font-family: "digital number";
  background-color: #e6f1f3;
  font-size: 50px;
}

/* misc pads */
.misc-pad {
  grid-area: misc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 5px;
}

/* num pads*/
.num-pad {
  grid-area: num;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

/* operator pads */
.operator-pad {
  grid-area: opr;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-left: 5px;
}

/* btn style */
.btn {
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: 600;
  border: 2px solid black;
}

.num-btn {
  background-color: #8d847f;
  color: antiquewhite;
  border-radius: 10%;
}

.operator-pad .btn,
.misc-pad .btn {
  background-color: #1d2025;
  color: antiquewhite;
  border-radius: 10%;
}

#clear-btn {
  background-color: #d14d0c;
}
